.optionPicker{
    display:grid;
    background-color: goldenrod;
    color: black;
    padding: 10px;
    border-radius: 12px;
    border: 2px outset goldenrod;
    grid-template-columns: 100px 100px;
    grid-gap: 10px;

    max-width: 320px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
}
.option{
    cursor:pointer;
}
.option:hover{
    text-decoration: underline;
}
.option:active{
    color:rgb(150, 114, 22);
}
.grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .body{
    width: 100vh;
    margin: 50px;
  }
.rssWidget{
    border: 3px solid goldenrod;
    border-radius: 15px;
    width: 500px;
    grid-template-columns: 100px 100px;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 40px;
}
.description{
    font-size: .8em;
}
.divider{
    margin-bottom: 5px;
    color:goldenrod;
}
@media (max-width: 415px) {
    .rssWidget{
        width: 370px;
    }
}